nav, a{
     color: #DC7633;
}
.here {
  color: #2980B9;    
}
body {
    background-color: #5499C7;
}
p {
     font-family: 'Times New Roman';
     color: #FFFFFF ;    
}
section, p {
     font-family: 'Times New Roman';
     color: #1A5276 ;    
}
section, li {
     font-family: 'Times New Roman';
     color: #1A5276 ;    
}
h1 {
      font-family: 'Times New Roman';
      color: #1A5276 ;    
}
img {
align: center;
}
